@model IEnumerable<Chartypaltform.ViewModels.DonationViewModel>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            @if (Model != null && Model.Any())
            {
                foreach (var donation in Model)
                {
                    <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                        <div class="staff">
                            <div class="d-flex mb-4">
                                <div class="img" style="background-image: url('@donation.img');"></div> 
                                <div class="info ml-4">
                                    <h3><a href="teacher-single.html">@donation.DonorName</a></h3>
                                    <span class="position">@donation.DonationDate.ToShortDateString()</span>
                                    <div class="text">
                                        <p>Donated <span>$@donation.Amount</span> for <a >@donation.CampaignName</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-12">
                    <p>No donations available.</p> <!-- Handle empty case -->
                </div>
            }
        </div>
    </div>
</section>
