
@{
    ViewData["Title"] = "DownloadPDF";
    ViewBag.ShowHeroSection = true;

}

<h1>DownloadPDF</h1>

<h1>Download Campaigns PDF</h1>
<a asp-action="GenerateCampaignsPDF" asp-controller="Campaign">Download Campaigns PDF</a>